@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{  font-family: 'Poppins', sans-serif;
    background: #7038fd;
    
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:auto;   
}
.h{
    color: white;
    background-color: rgb(48, 48, 199);
    width: 60%;
    height: 10vh;
    text-align: center;
    
}
.wrapper{
    background: #1A1A40;
    padding: 2rem;
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px; 
}
.input{
    background-color: whitesmoke;
    width: 60vh;
    height: 4vh;
    margin: 10px;
}
#addButton{
    background-color: rgb(255, 140, 0);
    color: azure;
    width: 20%;
    font-family: 'Popins';
    height: 9vh;
}