@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{  font-family: 'Poppins', sans-serif;
    margin: 0;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    }
.h{
    color: white;
    text-shadow: 3px 5px 60px #000000;
    background-color: crimson;
    width: 105%;
    height: 50%;
    text-align: center;
    font-weight:bold;
    font-size: 3vw;
    border-radius: 5.5vw;
    align-content: center;
}
.wrapper{
    background-image:url("../background_image.avif"); 
    background-size: cover;
    background-position: left;
    padding-top: 2rem;
    display: flex;
    width: 85%;
    height: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 60vh;
    border-radius: 25px;
}
.input{
    background-color: rgb(255, 255, 255);
    width: 70%;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
    padding: 15px 13px;
    border-radius: 10px;
    height: auto;
    resize: both;
    overflow: visible;
    border: none;
    margin: 10px;
}
.todoadd{
    background-color: #b6cfc675;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    width: 95%;
    
    margin-top: 50px;
    padding: 2% 1%;
    flex-direction: row;
}
#addButton{
    background-color: #0736cf;
    color: white;
    width: 22%;
    height: auto;
    border: #04AA6D;
    text-shadow: 1px 2px 5px #000000;
    border-radius: 15px;
    box-shadow: #00000091 10px 10px 20px,inset -5px -4px 5px #ffffff77;
    font-size: 2.2vmax;
    padding: 10px 0px;
    font-weight: bold;
}
.todoParent{
    margin-top: 30px;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.123);
    justify-content: space-between;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    margin-top: 50px;
    border: #acff27 2px solid;
    align-items: center;
    padding: 1%;
    padding-left: 5%;
    width:90%;
    height: auto;
}
.todo{
    width: 80%;
    height: 50%;
    padding-left: 8px;
}

.todoParent button{
    width: 15%;
    font-size: xxx-large;
    background-color: #aef1ede1;
    border: none;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #000000cc ,inset -20px -20px 60px #ffffffcc;
}


@media (max-width:600px) {
    .h{ text-shadow: none;
        font-size: 7vw;
        padding: 7px 1px;
    }
    .wrapper{
        width: 90%;
    }
    .input{
        font-size: medium ;
    }
    #addButton{
        width: 40%;
        margin-right: 3px;
        padding: 12px 3px;
    }
    .todoParent button{
        width: 30%;
        height: 7.5vh;
        font-size: medium;
        margin: 4px;
    }
}